kc_fin_fe_fe3/version/
kc_fin_fe_ll3/version/
kc_fin_fe_dl3/target
kc_fin_fe_dl3/pom.xml
kc_fin_fe_dl3/src/main/java/com/kaiostech/version/
kc_fin_fe*.tar.bz2
conf/kc_fin_fe.conf
utils/version/
/bin/
/out/
*.log
*.log.[0-9]*
\#*
token.txt
bom.json
Dockerfile
*.out
.vscode
.idea
*.iml
*.raml
*.html
*.out
*~
start*.pid
lastIp.txt
*.DS_Store
bom.json
node_modules
package-lock.json
*.sh	
kc_fin_fe_dl3/.classpath
kc_fin_fe_dl3/.project
utils/financier_testing/login_token.json
utils/financier_testing/token.json
